*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Gilker';
    src: url(../fonts/Gliker-Regular.ttf) format(truetype);
    font-weight: 100;
    font-style: normal;
}


body{
    background-color: #FDFCF9;
}

#logo{
    width: 300px;
}

#enviar-btn{
    background-color: #38973A;
    padding: 10px 20px;
    width: 200px;
    height: auto;
}